.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper div {
    width: 200px;
    height: 200px;
    border: solid 1px black;
}
.wrapper2 div {
    height: 70px;
    border: solid 1px black;
}
#box1 {
    background-color: #323b6e;
}
#box2 {
    background-color: #5877b4;    
}
#box3 {
    background-color: #5b6788;
}
#box4 {
    background-color: #0E6BA8;
}
#box5 {
    background-color: #A6E1FA;
}
#green {
    background-color: green;
    flex-grow: 1;
}
#green2 {
    background-color: green;
    flex-grow: 2;
}
#green3 {
    background-color: green;
    flex-grow: 1;
}
#green4 {
    background-color: green;
    flex-grow: 1;
}
#green5 {
    background-color: green;
    flex-grow: 1;
}
