.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 70px;
}
.wrapper2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 70px;
}
.wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 70px;
}
.wrapper div {
    border: solid 1px black;
}
.wrapper2 div {
    border: solid 1px black;
}
.wrapper3 div {
    border: solid 1px black;
}
.browns {
    background-color: brown;
}
.greens{
    background-color: lightgreen;
}
#box7 {
    grid-column: 1;
    grid-row: 1 / 4;

}
