body {
    margin: 0;
}

h1, h2 {
    font-size: 1000%;
    text-align: center;
    height: 25%;
}
h3 {
    text-align: center;
}
html {
    height: 200%;
    width: 100%;
    margin: 0; 
}
.faded {
    opacity: 0.3;
    margin-top: 50px;
    margin-bottom: 0;
}
.osa {
    height: 20%;
    width: 33.333%;
    background-color: #0d7fe3;
    float: left;
    margin: auto;
}
#title{
    background-image: linear-gradient(white,#0d7fe3);
    width: 100%;
}
#lotr{
    text-align: center
}
a {
    width: 20%;
    text-align: center;
    background-color: aliceblue;
}
a:hover {
    font-size: larger;
}
table {
    border: 2px solid;
    background-color: white;
}
#testitaulukko:hover {
    background-color: #0d7fe300;
    background-image: url(https://image.shutterstock.com/image-photo/mangrove-snake-boiga-dendrophila-attacking-600w-1441125026.jpg);
}
form {
    max-width: 75%;
    margin: auto;

}
p {
    background-color: white;
    width: 60%;
    padding: 20px;
    margin-top: 5%;
    margin: auto;
    border: 1px;
    border-radius: 2px;
    border-color: black;
}
#testivideo {
    margin-left: 10%;
}