@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#sivu {
    padding: 0%;
}
#sidebar {
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0px;
}

#sidebarinner {
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0px;
}
#marq {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    padding-top: 20px;
    text-align: center;
}
li {
    /*border-style: solid;
    border-radius: 10px;
    border-color: rgb(190, 226, 233);
    box-shadow: 3px 3px 5px black;
    */
    padding: 0%;
    cursor: pointer;
    width: 100%;
}
li:hover {
    background-color: rgb(163, 163, 227);
    box-shadow: 3px 3px 5px black;
}
a {
    font-family: 'Poppins', sans-serif;
}
.vertical-nav {
    box-shadow: 3px 3px 10px black;
}
p {
    padding-top: 10px;
    text-decoration: none;
    color: black;
}
#ab1 {
    padding: 0px;
    margin: auto;
}
body:hover {
    cursor: grab;
}